* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

body {
    background: rgb(240, 240, 240);
    color: rgb(49, 49, 49);
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    text-align: center;
}

.control-pannel {
    position: absolute;
    left: 0;
    margin: auto;
    background: #a1788b
}

.endPoint {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
}

.startPoint {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
}
  
.endPointPadder {
    padding: 5px;
    cursor: move;
    z-index: 10;
}

.startPointPadder {
    padding: 5px;
    cursor: move;
    z-index: 10;
}

.endPointPadder {
    background-color: #b6211a;
}
  
.startPointPadder {
    background-color: #076803;
}

@supports (display: grid) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        "titleHeader titleHeader"
        "controlPannel boardGrid";
    }

    .control-pannel {
        grid-area: controlPannel;
    }

    .board {
        grid-area: boardGrid;
    }

    .title {
        grid-area: titleHeader;
    }
}