* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

body {
    background: rgb(240, 240, 240);
    color: rgb(49, 49, 49);
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    text-align: center;
}


.endPoint {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
}
  
.endPointPadder {
    padding: 12.5px;
    cursor: move;
    z-index: 10;
}

#endnodePadding {
    background-color: #b6211a;
}
  
#startnodePadding {
    background-color: #10af0a;
}